#container11{
  display: flex;
  flex-direction: column;
    width: 95%;
   height: 95%;
    border: 1px solid #ddd;
    color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.header2{
    display: inline-block;
}
    .student-info-section{
        display: grid;
        /* border: 1px solid black; */
        grid-template-columns: repeat(3,1fr);
    }
    .student-info-1{
        display: grid;
        grid-column: 1/3;
    }
    .passport-container{
        border: 1px solid rgb(93, 92, 92);
        margin-left: 1px;
        height: 224px;
    }
    .passport-img{
        width: 100%;
        height: 100%;
      /* margin-left: 30px; */
    }
    .table-student-info tr,.table-student-info td,.table-student-info th{
        border: 1px solid black;
        text-align: left;
        border-collapse: collapse;
        padding: 3px;
        margin-top: 0px;
    }
    .table-student-info-1 tr,  .table-student-info-1 td,  .table-student-info-1 th{
        border: 1px solid black;
        text-align: left;
        border-collapse: collapse;
        padding: 3px;
        margin-top: 0px;
    }
    .table-student-info{
        margin-top: 0px;
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
    /* font-weight: bolder; */
    }
    .table-student-info-1{
        margin-top: 30px;
        /* font-weight: bolder; */
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
    }
    .parent-info-section{
        display: grid;
        grid-column: 1/4;
    }
    .background-logo{
        position: absolute;
        width: 500px;
        margin-left:15%;
        height: 330px;
        opacity: 0.2;

    }