#container1{
    display: grid;
    width: 80%;
   height: 50vh;
    border: 1px solid #ddd;
  
}
.header{
    display: inline-block;
}
img{
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}
.cover-img{
    width: 300px;
    height: 300px;
    position: absolute;
    vertical-align: middle;
    /* align-content: center; */
    margin-left: 200px;
    opacity: 0.1;
}
.school-name{
    font-size: 30px;
    font-weight: bolder;
}
.information-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.table12{
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
}
.table22{
    width: 60%;
    margin-bottom: 10px;
    /* margin-top: 30px; */
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
}
.table33-container, .table22-container{
    margin-top: 20px;
    
}
.table32{
    width: 90%;
    margin-top: 0px;
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
}
tr{
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    /* border: 1px solid #ddd; */
}
/* th, tr, td{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
} */
.subject{
    text-align: left;
}
.grade-cognitive-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid: gap -20px; */
}
.promotion-status{
    font-weight: bolder;
    color: green;
}
.content-title-post{
   /* font-weight: bolder; */
  
}
/* attendance sheet other css */
.teacher-sign{
    border-top: 2px solid black;
    padding: 10px;
    margin-top: 30px;
}
.teacher-sign-container{
    margin-top: 80px;
}
/* receipt css */
.table-fees{
    
        width: 100%;
        margin-top: 30px;
        /* border: 1px solid #ddd; */
        /* position: relative; */
        border-collapse: collapse;
        background-attachment: no-repeat;
        background-repeat: no-repeat;
        /* background-image: url('logo1.png'); */
        background-size: contain;
        text-align: center;
  
      

}
.bursar-sign-container{
    margin-top: 200px;

}
.bursar-sign{
    font-weight: bolder;
    padding-top: 10px;
    border-top: 2px solid black;

}
.student-info-section{
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: repeat(3,1fr);
}
.student-info-1{
    display: grid;
    grid-column: 1/3;
}
.passport-container{
    border: 1px solid rgb(93, 92, 92);
    margin-left: 1px;
    height: 224px;
}
.passport-img{
    width: 100%;
    height: 100%;
  /* margin-left: 30px; */
}
 
/* 
tr, td, th{
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    margin-top: 0px;
} */
.table-student-info{
    margin-top: 0px;
/* border: 1px solid #ddd; */
border-collapse: collapse;
/* font-weight: bolder; */
}
.table-student-info-1{
    margin-top: 30px;
    /* font-weight: bolder; */
/* border: 1px solid #ddd; */
border-collapse: collapse;
}
.parent-info-section{
    display: grid;
    grid-column: 1/4;
}
.background-logo{
    position: absolute;
    width:400px;
    margin: 0 auto;
    height: 50vh;
    opacity: 0.2;

}