<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
    <div id="container-fluid">
        <img class="profile-pic" src="passport.jpg">
        <a>Change Photo</a>
        <div class="cover-page-section">
            <div class="btn-container">
            <button>Update Profile</button>
            <button>print Profile</button>
            </div>
            
        </div>
        <div class="profile-pic-section">
          
         <table>
             <tr>
                 <td>STAFF ID:</td>
                 <td>STF/GRD/09/001</td>
             </tr>
             <tr>
                <td>FULL NAME</td>
                <td>MUBARAK IBRAHIM SOROU</td>
            </tr>
            <tr>
                <td>EMAIL</td>
                <td>mubarakibrahim2015@gmail.com</td>
            </tr>
            <tr>
                <td>ROLE</td>
                <td>TEACHER</td>
            </tr>
         </table>
       
        </div>
        <div class="other-editable-info">
            <input type="text" value="NIA/STF/09/001" disabled>
            <input type="text" value="MUBARK IBRAHIM" disabled>
            <input type="text" value="TEACHER" disabled>
            <input type="text" value="mubarakibrahim2015@gmail.com">
            <input type="text" value="Academics" disabled>
            <input type="text" value="BTech Comp Science" disabled>
            <input type="text" value="08140409672">
            <input type="text" value="Jambutu Jimeta Yola North ">
            <input type="text" value="Jimeta">
            <input type="text" value="Adamawa">
            
        </div>
        <div  class="change-password-section">
            <div class="change-pwd">
                <!-- <button>Change Password</button> -->
                <input type="submit" value="Change Password" onclick="">
            </div>
            <div class="password-setting-section">
                <span>If You dont want to change your password click on the change
                    password button to terminate
                </span>
                <!-- <span>Enter Old Password</span><br> -->
                <input type="password" placeholder="please enter old password here">
           <!-- <span>Enter New Password</span><br> -->
           <input type="password" placeholder="enter new password here">
           <!-- <span>Confirm New Password</span><br> -->
           
            <input type="password" placeholder="confirm new password ">
            </div>
           
        </div>
       
       
    </div>
</body>
</html>