<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="dosier.css">
</head>
<body>
    <div id="container">
        <center> <div class="header">
             <img src="logo1.png" style="text-align: center;"><br>
             <span class="school-name">NOBLE INTELLECT ACADEMY</span><br>
            <!-- <h4>NOBLE INTELLECT ACADEMY</h4> -->
           
            <span>No. 24 kofare zone 3,, Jimeta Yola North, Adamawa State</span><br>
            <span>Motto: Learning For Better Future.</span>
            <h4>STUDENT ASSESSMENT SHEET</h4>
        </div> </center>
        <div class="information-container">
            <div>
                <span class="content-title">NAME:</span> <span  class="content-title-post">MUHAMMAD SULAIMAN</span><br>
                <span class="content-title">STUDENT ID:</span><span class="content-title-post">NIA/09/001</span><br>
                <span class="content-title">CLASS:</span><span class="content-title-post">JSS1</span><br>
                <span class="content-title">CLASS SIZE:</span><span class="content-title-post">20</span><br>
            </div>
            <div>
                <span class="content-title">FINAL POSITION:</span> <span class="content-title-post">1ST</span><br>
                <span class="content-title">AGGREGATE:</span><span class="content-title-post">1208</span><br>
                <span class="content-title">AVERAGE:</span><span class="content-title-post">97.8</span><br>
                <span class="content-title">NO OF SUBJECT:</span><span class="content-title-post">13</span><br>
            </div>
            <div>
                <span class="content-title">SESSION:</span> <span class="content-title-post">2020/2021</span><br>
                <span class="content-title">TERM:</span><span class="content-title-post">FIRST TERM</span><br>
                <span class="content-title">DAYS PRESENT:</span><span class="content-title-post">114 OF 130</span><br>
                <span class="content-title">HOUSE:</span><span class="content-title-post">YELLOW HOUSE</span><br>
            </div>

        </div>
        <div>
            <table class="table1">
                <thead>
                    <th>SUBJECT</th>
                    <th>1ST CA <br>(10)</th>
                    <th>2ND CA <br>(10)</th>
                    <th>3RD CA <br>(10)</th>
                    <th>4TH CA <br>(10)</th>
                    <th>EXAM<br>(60)</th>
                    <th>TOTAL</th>
                    <th>GRADE</th>
                    <th>POSITION</th>
                    <th>REMARKS</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="subject">English Language</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Mathematics</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Introductory Tech</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Integrated Science</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject"> Civic Education</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Agric Science</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Islamic Studies</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Hausa Language</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Vocational Education</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Home Economic</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Social Studies</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Arabic Language</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    <tr>
                        <td class="subject">Entrepreneurship</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>60</td>
                        <td>100</td>
                        <td>A</td>
                        <td>1ST</td>
                        <td>EXCELLENT</td>
                    </tr>
                    
                    <tr>
                     
                </tbody>
            </table>
           
        </div>
        <div class="grade-cognitive-section">
            <div class="table2-container">
               <span>Grading Scale</span>
                <table class="table2">
                    <thead>
                        <th>Score</th>
                        <th>Grade</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>70-100</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>60-69</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>50-59</td>
                            <td>C</td>
                        </tr>
                        <tr>
                            <td>40-49</td>
                            <td>D</td>
                        </tr>
                        <tr>
                            <td>0-39</td>
                            <td>F</td>
                        </tr>
                    </tbody>
                    
                </table>
               
            </div>
            <div class="table3-container">
             <span>Cognitive Domain</span>
                <table class="table3">
                    <thead>
                        <th>Subject</th>
                        <th>Ranking</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Punctuality</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Neatness</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>Self Expression</td>
                            <td>C</td>
                        </tr>
                        <tr>
                            <td>Attitude</td>
                            <td>D</td>
                        </tr>
                        <tr>
                            <td>Morals</td>
                            <td>F</td>
                        </tr>
                    </tbody>
                    
                </table>
               
            </div>
        </div>
        <div>
            <Span>PROMOTION STATUS</Span>
            <Span class="promotion-status">PROMOTED</Span>
        </div>
        <div>
            <table class="table1">
                <tr>
                    <td>PRINCIPAL REMARK</td>
                    <td>AN EXCELLENT RESULTS KEEP IT UP</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="table1">
                <tr>
                    <td>PRINCIPAL REMARK</td>
                    <td>AN EXCELLENT RESULTS KEEP IT UP</td>
                </tr>
            </table>
           
        </div>
        <center><img src="signature.jpg"></center>
    </div>
</body>
</html>