<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="dosier.css">
</head>
<body>
    <div id="container">
        <center> <div class="header">
             <img src="logo1.png" style="text-align: center;"><br>
             <span class="school-name">NOBLE INTELLECT ACADEMY</span><br>
            <!-- <h4>NOBLE INTELLECT ACADEMY</h4> -->
           
            <span>No. 24 kofare zone 3,, Jimeta Yola North, Adamawa State</span><br>
            <span>Motto: Learning For Better Future.</span>
            <h4>STUDENT ATTENDANCE SHEET</h4>
        </div> </center>
        <div class="information-container">
            <div>
                <span class="content-title">SUBJECT: &nbsp;</span> <span  class="content-title-post">ENGLISH LANGUAGE</span><br>
                <span class="content-title">TEACHER: &nbsp;</span> <span  class="content-title-post">MR. MUBARAK </span><br>
            </div>
            <div>
                <span class="content-title">CLASS: &nbsp;</span> <span class="content-title-post">JSS2</span><br>
                <span class="content-title">CLASS-SIZE: &nbsp;</span> <span class="content-title-post">20</span><br>
            </div>
            <div>
                <span class="content-title">SESSION:</span> <span class="content-title-post">2020/2021</span><br>
                <span class="content-title">TERM:</span> <span class="content-title-post">FIRST TERM</span><br>
            </div>

        </div>
        <div>
            <table class="table11">
                <thead>
                    <th>S/N</th>
                    <th>STUDENT ID</th>
                    <th>NAMES </th>
                    <th>SIGN IN </th>
                    <th>SIGN OUT </th>
                   
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="subject">NIA/09/001</td>
                        <td class="subject">ADAMU ABDULLAHI</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="subject">NIA/09/002</td>
                        <td class="subject">AISHA ABUBAKAR</td>
                        <td></td>
                        <td></td>
                    </tr>
             
                    
                    
                     </tbody>
            </table>
           
        </div>
       <div class="teacher-sign-container">
        <center><span class="teacher-sign">Teacher Signature</span></center>
    </div>
    </div>
</body>
</html>